<!DOCTYPE html>
<html lang="en" data-ng-app="appAngularJS" data-ng-controller="AppController">
<head>
	<meta charset="utf-8"/>
	<title>Ads - My AngularJS App</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="app/css/bootstrap.css" />
	<link rel="stylesheet" href="app/css/bootstrap-theme.css" />
	<link rel="stylesheet" href="app/css/app.css" />
</head>
<body>
<header id="header">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand main-logo" href="/#/"><img src="app/img/logo.png" alt="Logo" /></a>

			</div>
			<div id="navbar" class="navbar-collapse collapse"
			     data-ng-include="'template/partial/menu-loggedIn.html'" data-ng-if="isLoggedIn" ></div>
			<div id="navbar2" class="navbar-collapse collapse"
			     data-ng-include="'template/partial/menu-notLoggedIn.html'" data-ng-if="!isLoggedIn"></div>
		</div>
	</nav>
</header>

<div class="container" id="app-content">

	<div class="col-md-12" data-ng-view=""></div>

</div>

<footer class="footer">
	<div class="container">
		<p class="text-muted">&copy; 2014 by Vasil Tsintsev @ Software University Foundation, No Rights Reserved</p>
	</div>
</footer>

<!-- JavaScript Includes -->
<script src="app/lib/angular/angular.js"></script>
<script src="app/lib/angular/angular-route.js"></script>
<script src="app/lib/angular/angular-resource.js"></script>
<script src="app/lib/angular/angular-sanitize.js"></script>
<script src="app/lib/angular/angular-local-storage.js"></script>
<script src="app/lib/jquery/jquery-2.1.3.min.js"></script>
<script src="app/lib/jquery.noty/jquery.noty.packaged.min.js"></script>
<script src="app/lib/bootstrap/ui-bootstrap-tpls-0.12.0.min.js"></script>

<script src="app/js/app.js"></script>

<script src="app/js/services/notifyService.js"></script>
<script src="app/js/services/adsServices.js"></script>
<script src="app/js/services/data/townService.js"></script>
<script src="app/js/services/data/categoriesService.js"></script>
<script src="app/js/services/authService.js"></script>

<!-- Filters -->
<script src="app/js/filters/filters.js"></script>

<!-- Controllers -->
<script src="app/js/controllers/allPages.js"></script>
<script src="app/js/controllers/AppController.js"></script>
<script src="app/js/controllers/HomeController.js"></script>
<script src="app/js/controllers/RegisterController.js"></script>
<script src="app/js/controllers/LoginController.js"></script>
<script src="app/js/controllers/LogoutController.js"></script>

<!-- End of JavaScript Includes -->


</body>
</html>