<div class="col-md-10 col-md-offset-1 adslist bgloader">
	<div class="form-login panel panel-primary">
		<div class="panel-heading">
			Browse Categories <a href="/#/admin/categories/add" class="pull-right btn btn-info"
			                     style="color:#FFF;top:-7px;position:relative;"> Add Category </a>
		</div>
		<div class="panel-body">
			<table class="table table-bordered">
				<thead>
				<tr>
					<th>ID</th>
					<th>
						<a href="#" onclick="return false;"
						   data-ng-click="sortBy('Name')">Category
							 <span data-ng-show="reverseSort">^</span><span data-ng-show="!reverseSort">v</span></span>
						</a>
					</th>
					<th>Action</th>
				</tr>
				</thead>
				<tbody>
				<tr data-ng-repeat="c in allCategories.categories">
					<td>{{c.id}}</td>
					<td>{{c.username}}</td>
					<td><a href="/#/admin/categories/edit/{{c.id}}/{{c.username}}">edit</a> |
						<a href="/#/admin/categories/delete/{{c.id}}/{{c.username}}">delete</a></td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
	<pagination class="pagination" total-items="allCategories.numItems" items-per-page="itemsPerPage"
	            data-numPages="allCategories.numPages" max-size="10"
	            data-ng-model="currentPage" data-ng-change="pageChanged()"></pagination>
</div>