<div class="col-md-offset-2 col-md-8">
	<div class="form-login panel panel-primary">
		<div class="panel-heading">Edit Ad #{{adNum}}</div>
		<div class="panel-body">
			<div class="col-md-7 pull-left">
				<label for="title">Title:</label>
				<input type="text" id="title" ng-model="adData.title" required="required"
				       class="form-control input-sm chat-input"/>
				<br/>
				<label for="text">Text:</label>
				<textarea id="text" ng-model="adData.text" required="required"
				       class="form-control input-sm chat-input"></textarea>
			</div>
			<div class="col-md-4 pull-right image-box"><img src="app/img/no_image.jpg" alt="No Image Yet"
			                                                data-ng-src="{{adData.imageDataUrl}}"/></div>
			<div class="col-md-12">
				<p><br/>
					<label for="category" class="pull-left">Image File:</label>
					<input type="file" id="image" class="pull-left"
					       onchange="angular.element(this).scope().fileSelected(this)" />
					<a href="#" onclick="return false" ng-click="removeImageFromAd()"
					   class="pull-right">Delete Image</a><br/><br/>
				</p>
				<p><label for="username">Username:</label>
					<input type="text" id="username" ng-model="adData.ownerUsername" required="required"
				       class="form-control input-sm chat-input"/>
				</p>
				<p>
					<label for="category">Category:</label>
					<select id="category" ng-model="adData.categoryId" class="form-control input-sm chat-input">
						<option value="null"> --------- </option>
						<option ng-repeat="c in publicCategories" value="{{c.id}}">{{c.name}}</option>
					</select>
				</p>
				<p>
					<label for="town">Town:</label>
					<select id="town" ng-model="adData.townId" class="form-control">
						<option value="null"> --------- </option>
						<option ng-repeat="t in publicTowns" value="{{t.id}}">{{t.name}}</option>
					</select>
				</p>
				<p>
					<label for="status">Status:</label>
					<select id="status" ng-model="adData.status" class="form-control">
						<option value="Inactive">Inactive</option>
						<option value="WaitingApproval">WaitingApproval</option>
						<option value="Published">Published</option>
						<option value="Rejected">Rejected</option>
					</select>
				</p>
				<p><label for="date">Date:</label>
					<p class="input-group dtpicker">
						<input type="text" class="form-control" datepicker-popup="dd-MM-yyyy" ng-model="adData.date"
						       is-open="opened"
					       min-date="'2014-01-01'" max-date="'2015-12-30'" show-weeks="false"
					        datepicker-options="dateOptions"  ng-required="true"
					       close-text="Close" id="date" />
						<span class="input-group-btn">
							<button type="button" class="btn btn-default"
							        ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
					</p>
				</p>
				<p>
					<div class="wrapper">
		                <span class="group-btn">
						<a ng-click="updateAd(adData)" class="btn btn-primary btn-md">Update Info</a>
						<a href="#/admin/ads" class="btn btn-secondary btn-md pull-right">Cancel</a>
		                </span>
					</div>
				<p>
			</div>
		</div>
	</div>
</div>
