<div class="col-sm-4 pull-left left-nav-panel" >

	<div class="panel panel-default col-md-12">
		<h4 class="panel-heading">My Ads</h4>
		<ul class="panel-body" >
			<li class="list-group-item">
				<a href="#/user/ads" data-ng-click="myAdsSetFilter(0)">All</a>
				<a href="#/user/ads" onclick="return false;" data-ng-click="myAdsSetFilter('Published')">Published</a>
				<a href="#/user/ads" onclick="return false;" data-ng-click="myAdsSetFilter('WaitingApproval')">Waiting Approval</a>
				<a href="#/user/ads" onclick="return false;" data-ng-click="myAdsSetFilter('Inactive')">Inactive</a>
				<a href="#/user/ads" onclick="return false;" data-ng-click="myAdsSetFilter('Rejected')">Rejected</a>
			</li>
		</ul>
	</div>

</div>
<div class="col-md-8 adslist bgloader">
	<div class="panel panel-default ad" data-ng-repeat="ad in allPublicAds.ads">

		<div class="panel-heading">
			<h3 class="panel-title">{{ ad.title }}</h3>
			<div class="pull-right ad-date">{{ ad.date | date:'dd-MMM-yyyy' }}</div>
		</div>
		<div class="panel-body">
			<div class="pull-left col-md-4 ad-photo">
				<img src="app/img/no_image.jpg" alt="no-image" data-ng-src="{{ad.imageDataUrl}}"/>
			</div>
			<div class="pull-right col-md-8 ad-others">

				<div class="ad-others-text"><strong>Text:</strong> {{ ad.text }}</div>
				<div class="ad-others-category"><strong>Category:</strong> {{ ad.categoryName }}</div>
				<div class="ad-others-town"><strong>Town:</strong> {{ ad.townName }}</div>
				<div class="ad-others-status"><strong>Status:</strong> {{ ad.status }}</div>
				<div class="ad-others-deactivate" ng-hide="ad.status != 'WaitingApproval'">
					<div class="wrapper">
	                    <span class="group-btn"><br/>
							<a href="#" onclick="return false" ng-click="deactivateAd(ad.id)"
							   class="btn btn-warning btn-md">Deactivate Ad</a>
	                    </span>
					</div>
				</div>
				<div class="ad-others-activate" ng-show="ad.status == 'Inactive'">
					<div class="wrapper">
	                    <span class="group-btn"><br/>
							<a href="#" onclick="return false" ng-click="publishAgaineAd(ad.id)"
							   class="btn btn-success btn-md">Publish Again</a>
		                    <a href="#/user/ads/edit/{{ad.id}}" class="btn btn-primary btn-md">Edit</a>
		                    <a href="#/user/ads/del/{{ad.id}}" class="btn btn-danger btn-md">Delete</a>
	                    </span>
					</div>
				</div>

			</div>
		</div>
	</div>

	<pagination class="pagination" total-items="allPublicAds.numItems" items-per-page="itemsPerPage"
	            data-numPages="allPublicAds.numPages" max-size="10" data-ng-show="allPublicAds.numItems > itemsPerPage"
	     data-ng-model="currentPage" data-ng-change="pageChanged()"></pagination>
	<div class="col-md-12" data-ng-show="allPublicAds.numItems < 1"> No Items to display</div>

</div>